.container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    height: 100vh;
    width: 100%;
    background-color: #1a1a2e;; /* A dark blue background similar to your image */
  }
  
  .square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
   width: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    height: 50vh;
  }
  
  .square:hover {
    transform: scale(1.05);
  }

  .square a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
  }
  
  .square img {
    max-width: 100%;
    
    margin-bottom: 5px;
    
    
  }
  
  .square p {
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff; /* White text */
  }
  
  /* Individual square background colors */
  .square:nth-child(1) {
    background-color: #6aa84f; /* Green color similar to the "Encounters" square */
  }
  
  .square:nth-child(2) {
    background-color: #cc0000; /* Red color similar to the "Character" square */
  }
  
  .square:nth-child(3) {
    background-color: #f6bc00; /* Yellow color similar to the "Maps" square */
  }
  
  .square:nth-child(4) {
    background-color: #6d9eeb; /* Blue color similar to the "Treasure" square */
  }
  
  /* Mobile view */
  @media (max-width: 768px) {
    .container {
      
      gap: 5px;
      
    }
  
    .square {
      padding: 5px;
    }
  
    .square img {
      width: 80%;
    }
  
    .square p {
      font-size: 16px;
    }
  }
  