.container {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    height: 100vh;
    width: auto;
    background-color: #1a1a2e;; /* A dark blue background similar to your image */
  }
  
  .square {
    display: flex;
    background-color: var(--text-tertiary);
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
   width: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    height: 50vh;
  }
  
  .square:hover {
    transform: scale(1.05);
  }

  
  .square img {
    
    margin-bottom: 5px;
    object-fit: fill;
   
width: 40%;

    height: auto; /* Maintain aspect ratio */
    
    
  }
  
  .square p {
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff; /* White text */
  }
  
  /* Individual square background colors */

  
  /* Mobile view */
  @media (max-width: 600px) {
    .container {
   height: fit-content;
      gap: 5px;
      margin-bottom: 5rem;
    }
  
    .square {
      padding: 5px;
      height: 45vh;
      
    }
  
    .square img {
      width: 80%;

    }
  
    .square p {
      font-size: 16px;
    }
  }
  