.loading {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    height: 100vh;
    width: 700px;
    max-width: 100%;
    padding: 30px;
    
}

.loading-text {
    color: var(--text-secondary);
}

.loading h2 {
    text-align: center;
}
