.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--color-secondary);
    box-sizing: border-box;
}

.historyNav {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--color-secondary);
    box-sizing: border-box;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
    
}

.nav-item:last-child {
    margin-top: auto;
    margin: 0;
}

.nav-item:nth-child(5) {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.history {
    background: var(--color-primary);
}

.nav-link-logo {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--color-primary);
    color: var(--text-primary);
    text-decoration: underline;
}

.nav-link svg {
    width: 2rem;
   min-width: 2rem;
   margin: 0 1.5rem; 
}

.nav-link-logo svg {
    width: 2rem;
   min-width: 2rem;
   margin: 0 1.5rem; 
}

.fa-primary {
    color: var(--text-tertiary);
}

.fa-secondary {
    color: var(--text-primary);
    
}

.fa-primary,
.fa-secondary {
    transition: color 0.2s ease;
    font-family: var(--font-secondary), 'Open Sans', sans-serif;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--text-primary);
    background: var(--color-secondary);
    letter-spacing: 0.2ch;
    width: 100%;
}

.svg-inline--fa {
    width: auto; /* Adjust width as needed */
    height: 2rem; /* Adjust height as needed */
    /* Other styles as needed */
}


.logo-text
{
    font-size: 1.5rem;
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
  text-align: end;
}



.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.historyNav .logo svg {
    transform: rotate(-180deg);
}

@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        transition: none;
    }

    .historyNav{
        bottom: 0;
        width: 100vw;
        height: 5rem;
        transition: none;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    

    .nav-link {
        justify-content: center;
    }

    
    
}  

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        
        height: 100vh;
        transition: width var(--transition-speed), filter var(--transition-speed);
        z-index: 101;
      }

     .historyNav {
        top: 0;
        width: 16rem;
        height: 100vh;
        transition: width var(--transition-speed), filter var(--transition-speed);
        z-index: 101;
     }

     .historyNav .logo svg {
        margin-left: 11rem;
     }

.historyNav .logo-text {
    left: 0px;
}

      .navbar:hover {
        width: 16rem;
      }
    
      .navbar:hover .link-text {
        display: inline;
    }

    
      .navbar:hover .logo svg
      {
        margin-left: 11rem;
      }
    
      .navbar:hover .logo-text
      {
        left: 0px;
      }
}