.side-bar {
    background-color: var(--color-secondary);
    transition: width var(--transition-speed), margin-left var(--transition-speed);
    

    transform: translateX(-11rem);
    height: 100vh;
    margin-top: 5rem;
    width: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 103;
    box-sizing: border-box;
  
  }

  .sidebar-button {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
  }

  .history {
    height: 100%;
    
    padding: 0;
    text-align: center;
  }


  
  .history li {
    list-style-type: none;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    color: var(--text-primary);
  }

  @media only screen and (max-width: 600px) {
    .side-bar {
        margin-left: 0;
        height: calc(100vh - 5rem);
        position: absolute;
        margin-top: 0rem;
        z-index: 103;
        width: 50%;
        transition: width var(--transition-speed), margin-left var(--transition-speed);
        transform: translateX(0rem);
    }
  }