@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  --text-primary: #343541;
  --text-secondary: #ffffff;
  --color-primary: #6649b8;
  --color-secondary: #1e1e24;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}


.App {
  background-color: #343541;
  display: flex;
 
  width: 100vw;
  height: 100vh;
  
}

















