@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: "draconis";
  src: url("../src/fonts/Draconis-JRw6B.ttf") format('truetype');
}
@font-face {
  font-family: "breathefire";
  src: url("../src/fonts/BreatheFireIii-PKLOB.ttf") format("truetype");
}
:root {
  
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  --text-primary: #B46746;
  --text-secondary: #ffffff;
  --text-tertiary: #E84545;
  --color-primary: #343541;
  --color-secondary: #202123;
  --color-tertiary: #444654;

  --font-tertiary: 'draconis';
  --font-secondary: 'breathefire';

  --transition-speed: 600ms;
}



body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}




.App {
  background-color: #343541;
  display: flex;
  width: 100vw;
  height: 100vh;
}

















